/*
  CSS - Editor
*/
body {
  background-color: #fff;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0; 
  max-width: 100%;
  width:100%;
}

.markdown,
.preview {
  width: 50%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  position: absolute;
  top:0px;
}

.ace_text-layer {
  padding:5px;
}

.markdown.ace_editor {
  font-size: 16px;
  line-height: 20px;
  left:0px;
  padding: 1px;
  font-family: "inconsolata";
}

.markdown .ace_content {
  background-color: #000;
}

.markdown .ace_active-line {
  background-color: #222 !important;
}

.markdown .ace_gutter {
  display: none;
}

.preview {
  background-color: #FFF;
  right:0px;
}

.menu span { cursor: pointer; }
.status.active { opacity: 1; }

.footer {
  z-index: 2;  
  position: fixed;
  bottom: 0;
  padding: 5px;
  margin: 15px;
  right: 0;
}

.status {
  color:#000;
  font-size: 24px;
  margin-right:20px;
  line-height: 18px;
}

.menu,
.status {
  font-weight: bold;
  opacity: .3;
  cursor: default;
  border-radius: 5px;
  background-color: #eee;
  float:left;
}

.menu {
  color: #000;
  opacity: 1;
  font-size: 24px;
  float: right;
}