.login {
  background-color:#303A44;
  width: 400px;
  padding: 25px;
  margin: 0 auto;
  border-radius: 5px;
}

.login .icon-locked {
  color: #fff;
  font-size: 5.0em;
  margin:0 auto;
  width:95px;
  display: block;
}

.login .elements {
  margin-top: 2.0em;
}

.login .elements input {
  width: 100%;
  font-size: 1.7em;
  font-family: adelle, serif;
  border-style: none; 
  border-color: transparent;
  margin: 5px;

  border-radius: 5px;
  padding: 0.5em;

  text-align: center;
}

.login .elements .input-submit {
  background-color: #F56647;
  color: #fff;
}

.content ul {
  padding: 0;
}