<span class='icon-download-selection-circle' {{action save target='controllers.editor'}}></span>
<span class='icon-text-justify-center' {{action show target='controllers.drawer'}}></span>
<span class='icon-leaf' {{action back}}></span>