<%= javascript_include_tag 'lib/jquery-1.9.1.min.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com.s3.amazonaws.com/handlebars-1.0.0-rc.3.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com/ember-latest.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com/ember-data-latest.js' %>


<script type="text/javascript">
  App = Ember.Application.create();

  App.Router.map(function() {
    this.resource("books");
    this.resource('book', { path: "books/:book_id"});
  });

  App.IndexRoute = Ember.Route.extend({
    redirect: function() { this.transitionTo('books'); }
  });

  App.BooksRoute = Ember.Route.extend({
    model: function(){ return App.Book.find(); }
  })

  DS.RESTAdapter.reopen({
    namespace: 'api/v1'
  });

  App.Store = DS.Store.extend({
    revision: 12,
    adapter: DS.RESTAdapter.create()
  });

  App.Book = DS.Model.extend({
    location: DS.attr('string'),
    name: DS.attr('string'),
  });


  App.BooksController = Ember.ArrayController.extend();
</script>

<script type="text/x-handlebars">
  <h2>Layout</h2>
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="books">
  <ul>
  {{#each controller}}
    <li>{{#linkTo 'book' this}} {{name}} {{/linkTo}}</li>
  {{/each}}
  </ul>
</script>
