<%= javascript_include_tag 'lib/jquery-1.9.1.min.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com.s3.amazonaws.com/handlebars-1.0.0-rc.3.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com/ember-latest.js' %>
<%= javascript_include_tag 'http://builds.emberjs.com/ember-data-latest.js' %>

<script type="text/x-handlebars" data-template-name="application">
<h1>Application</h1>
  {{outlet}}
</script>


<script type="text/x-handlebars" data-template-name="book-list">
  <ul>
  {{#if books}}
    {{#each book in books}}
      <li>{{#linkTo 'books.book' book}} {{book.name}} {{/linkTo}}</li>
    {{/each}}
  {{/if}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="chapter-list">
HERE
  <ul>
  {{#if chapters}}
    {{#each chapter in chapters}}
      <li>{{#linkTo 'book.chapter' chapter}} {{chapter.title}} {{/linkTo}}</li>
    {{/each}}
  {{/if}}
  </ul>
</script>

<script type="text/javascript">
  App = Ember.Application.create();
</script>

<script type="text/javascript">
  App.Router.map(function() {
    this.resource('books', { path: 'books' }, function(){
      this.route('book', {path: ':id'});
      this.resource('book', function(){
        this.route('chapter', { path: ':id/chapters/:path'});
      });
    });
    
  });

  App.IndexRoute = Ember.Route.extend({
    redirect: function(){ this.transitionTo('books'); }
  });

  App.BooksRoute = Ember.Route.extend({
    setupController: function(controller, model) {
      App.Book.find().then(function(books){
        controller.set('books', books);
      });
    },
    serialize: function(params) { return params },
    renderTemplate: function() { this.render('book-list', {into: 'application'}); },
  });

  App.BooksController = Ember.Controller.extend({
    filterByBook: function(book) { this.transitionToRoute('books.book', {book_id: book.id }) }
  });

  App.BooksBookRoute = Ember.Route.extend({
    setupController: function(controller, model) {
      controller.set('chapters', false);
      App.Chapter.findByBook(this.modelFor('books.book').id).then( function(chapters){
        // console.debug(chapters);
        controller.set('chapters', chapters);
      });
    },
    serialize: function(params) { return params },
    renderTemplate: function() { this.render('chapter-list', {into: 'application'}); },
  });

  App.BookChapterRoute = Ember.Route.extend({
    setupController: function(controller, model) {
      //Find the sections here!
      // console.debug(model);
    },
    serialize: function(params) {
      book = this.modelFor('books.book');
      return {id: book.id, path: params.get('base_path')}
    }
  });
   
</script>

<script type="text/javascript">
  DS.RESTAdapter.reopen({
    namespace: 'api/v1',
  });

  App.Store = DS.Store.extend({
    revision: 12,
    adapter: DS.RESTAdapter.create({
      bulkCommit: false,
    })
  });

  App.Book = DS.Model.extend({
    location: DS.attr('string'),
    name: DS.attr('string'),
    chapters: DS.hasMany('App.Chapter'),
  });

  App.Chapter = DS.Model.extend({
    path: DS.attr('string'),
    base_path: DS.attr('string'),
    book_path: DS.attr('string'),
    title: DS.attr('string'),
    book: DS.belongsTo('App.Book'),
  });

  App.Chapter.reopenClass({
    findByBook: function(book_id) {
      var chapters_url = "/api/v1/books/" + book_id + "/chapters";
      return $.getJSON(chapters_url).then(function(data) {
        var chapters = [];
        data.chapters.forEach(function(element){
          chapters.push(App.Chapter.createRecord(element));
        });
        return chapters;
      });
    },
  });  
</script>